body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  text-decoration: none !important;
  color: #979a9d !important;
  
}

.products-listing{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.homepage{
 display: grid;
 grid-template-columns: 1fr 3fr;
}

.filters > h4{
  text-align: center;
}

.filters-items{
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  margin-left: 20px;
  margin-right: 20px;
}



.cartpage{
  display: grid;
  grid-template-columns: 2fr 1fr;
}